Input {
    margin-bottom: 20px !important;
}

.login-page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(119, 44, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    height: 300px;
    width: 400px;
    background-color: #fff;
    padding: 35px;
    border-radius: 5px;
}

.login-box #sign-up-text {
    padding: 30px 0;
}

.login-box .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

