.channel-list h3 {
    color: white
}

.channel-list h4 {
    color: #CFC2CF;
    margin: 0 !important;
    padding: 0 !important;
}

.channel-list ul {
    list-style: none;
    padding: 0;
    color: #CFC2CF;
    font-family: sans-serif;
    font-size: 15px;
}

.channel-list ul a {
    color: #CFC2CF;
    font-family: sans-serif;
    font-size: 15px;
}

.channel-list .list-row {
    display: flex;
    height: 28px;
    padding: 0 16px 0 30px;
    overflow-x: hidden;
    cursor: pointer;
    align-items: center;
}

.channel-list .list-row:hover {
    background-color: #341036;
    color: white;
}

.channel-list .channels .list-row::before{
    content: "#";
    margin-right: 10px;
}

.channel-list .dms .list-row::before{
    content: "o";
    margin-right: 10px;
}

.channel-list .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
    user-select: none;
}

.header-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.header-row:hover #add-icon {
    visibility: visible;
}

.header-row #add-icon {
    position: absolute;
    right: 13px;
    visibility: hidden;
}

.header-row #add-icon:hover {
    cursor: pointer;
    color: white !important;
}